{% extends 'layout.twig' %}

{% block body %}
  <h1>{{ title }}</h1>
  {% for user in users %}
    <a href="/users/{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</p>
  {% endfor %}
{% endblock %}
